@import 'variables';

* {
    margin: 0;
    padding: 0;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}

a {
    text-decoration: none;
    color: black;
}

.card-img-top {
    width: 160px;
    margin-top: 10px;
}
