<div class='mt-4 container-1200 mx-auto'>
    <h3>Thêm điện thoại mới</h3>

    <form method='POST' action='/phones/store'>
        <div class='mb-3'>
            <label for='name' class='form-label'>Tên điện thoại</label>
            <input type='text' class='form-control' placeholder="Tên điện thoại" name='name' />
        </div>

        <div class='mb-3'>
            <label for='name' class='form-label'>Hãng điện thoại</label>
            <input type='text' list="datalistBrand" class='form-control' placeholder="Hãng điện thoại" name='brand' />
        </div>

        <div class='mb-3'>
            <label for='description' class='form-label'>Thông số kĩ thuật</label>
            <input type='text' class='form-control mb-2' list="datalistInches" placeholder="Specifications 1" name='specifications' />
            <input type='text' class='form-control mb-2' list="datalistRam" placeholder="Specifications 2" name='specifications' />
            <input type='text' class='form-control mb-2' list="datalistMemory" placeholder="Specifications 3" name='specifications' />
        </div>

        <div class='mb-3'>
            <label for='description' class='form-label'>Giá</label>
            <div class='row'>
                <div class='col text-center'>
                    Phân loại
                    <input type='text' class='form-control mb-2' list="datalistMemory" placeholder="Type 1" name='types' />
                    <input type='text' class='form-control mb-2' list="datalistMemory" placeholder="Type 2" name='types' />
                    <input type='text' class='form-control mb-2' list="datalistMemory" placeholder="Type 3" name='types' />
                    <input type='text' class='form-control mb-2' list="datalistMemory" placeholder="Type 4" name='types' />
                    <input type='text' class='form-control mb-2' list="datalistMemory" placeholder="Type 5" name='types' />
                    <input type='text' class='form-control mb-2' list="datalistMemory" placeholder="Type 6" name='types' />

                </div>
                <div class='col text-center'>
                    Giá
                    <input type='text' class='form-control mb-2' placeholder="Price 1" name='prices' />
                    <input type='text' class='form-control mb-2' placeholder="Price 2" name='prices' />
                    <input type='text' class='form-control mb-2' placeholder="Price 3" name='prices' />
                    <input type='text' class='form-control mb-2' placeholder="Price 4" name='prices' />
                    <input type='text' class='form-control mb-2' placeholder="Price 5" name='prices' />
                    <input type='text' class='form-control mb-2' placeholder="Price 6" name='prices' />
                </div>
            </div>
        </div>

        <div class='mb-3'>
            <label for='description' class='form-label'>Khuyến mãi</label>
            <input type='text' class='form-control' placeholder="Promotion" name='promotion' />
        </div>

        <div class='mb-3'>
            <label for='description' class='form-label'>Màu sắc</label>
            <div class='row g-3'>
                <div class='col-3 text-center'>
                    Màu sắc
                    <input type='text' class='form-control mb-2' list="datalistColors" placeholder="Color 1" name='colors' />
                    <input type='text' class='form-control mb-2' list="datalistColors" placeholder="Color 2" name='colors' />
                    <input type='text' class='form-control mb-2' list="datalistColors" placeholder="Color 3" name='colors' />
                    <input type='text' class='form-control mb-2' list="datalistColors" placeholder="Color 4" name='colors' />
                    <input type='text' class='form-control mb-2' list="datalistColors" placeholder="Color 5" name='colors' />
                    <input type='text' class='form-control mb-2' list="datalistColors" placeholder="Color 6" name='colors' />

                </div>
                <div class='col-9 text-center'>
                    Link ảnh minh họa
                    <input type='text' class='form-control mb-2' placeholder="Img 1" name='img' />
                    <input type='text' class='form-control mb-2' placeholder="Img 2" name='img' />
                    <input type='text' class='form-control mb-2' placeholder="Img 3" name='img' />
                    <input type='text' class='form-control mb-2' placeholder="Img 4" name='img' />
                    <input type='text' class='form-control mb-2' placeholder="Img 5" name='img' />
                    <input type='text' class='form-control mb-2' placeholder="Img 6" name='img' />
                </div>
            </div>
        </div>

        <div class='mb-3'>
            <label for='videoId' class='form-label'>Link hình ảnh sản phẩm</label>
            <input type='text' class='form-control mb-2' placeholder="Images 1" name='images' />
            <input type='text' class='form-control mb-2' placeholder="Images 2" name='images' />
            <input type='text' class='form-control mb-2' placeholder="Images 3" name='images' />
            <input type='text' class='form-control mb-2' placeholder="Images 4" name='images' />
            <input type='text' class='form-control mb-2' placeholder="Images 5" name='images' />
            <input type='text' class='form-control mb-2' placeholder="Images 6" name='images' />
            <input type='text' class='form-control mb-2' placeholder="Images 7" name='images' />
            <input type='text' class='form-control mb-2' placeholder="Images 8" name='images' />
            <input type='text' class='form-control mb-2' placeholder="Images 9" name='images' />
            <input type='text' class='form-control mb-2' placeholder="Images 10" name='images' />
        </div>

        <div class='mb-3'>
            <label for='description' class='form-label'>Miêu tả</label>
            <input type='text' class='form-control mb-2' placeholder="Description 1" name='description' />
            <input type='text' class='form-control mb-2' placeholder="Description 2" name='description' />
            <input type='text' class='form-control mb-2' placeholder="Description 3" name='description' />
            <input type='text' class='form-control mb-2' placeholder="Description 4" name='description' />
        </div>

        <datalist id="datalistBrand">
            <option value="apple">
            <option value="samsung">
            <option value="xiaomi">
            <option value="oppo">
        </datalist>
        
        <datalist id="datalistInches">
            <option value="6.1 inches">
            <option value="6.4 inches">
            <option value="6.5 inches">
            <option value="6.6 inches">
            <option value="6.7 inches">
            <option value="6.8 inches">
        </datalist>

        <datalist id="datalistRam">
            <option value="4 GB">
            <option value="6 GB">
            <option value="8 GB">
        </datalist>
       
        <datalist id="datalistMemory">
            <option value="64 GB">
            <option value="128 GB">
            <option value="256 GB">
            <option value="512 GB">
        </datalist>

        <datalist id="datalistColors">
            <option value="Đỏ">
            <option value="Đen">
            <option value="Xanh lá">
            <option value="Hồng">
            <option value="Trắng">
            <option value="Xanh dương">
            <option value="Vàng">
            <option value="Tím">
            <option value="Bạc">
        </datalist>

        <button type='submit' class='btn btn-primary mb-3'>Thêm điện thoại</button>
    </form>
</div>