<nav class='navbar navbar-expand-lg navbar-expand-sm bg-danger'>
    <div class='container container-1200'>
        <a class='navbar-brand text-light' href='/'>Quang Đạt</a>

        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav ms-auto mb-lg-0'>

                <li class='nav-item dropdown'>
                    <a
                        class='nav-link dropdown-toggle text-light'
                        href='#'
                        role='button'
                        data-bs-toggle='dropdown'
                        aria-expanded='false'
                    >
                        <img
                            src='	https://storage.googleapis.com/hust-files/5807675312963584/images/hust-logo-official_.3m.jpeg'
                            alt='avatar'
                            class='user-avatar'
                        />
                        Admin
                    </a>
                    <ul class='dropdown-menu dropdown-menu-end' data-bs-theme='light'>
                        <li><a class='dropdown-item' href='/phones/create'>Thêm điện thoại mới</a></li>
                        <li><hr class='dropdown-divider' /></li>
                        <li><a class='dropdown-item' href='/phones/list'>Tất cả điện thoại</a></li>
                        <li><hr class='dropdown-divider' /></li>
                        <li><a class='dropdown-item' href='#'>Đăng xuất</a></li>
                    </ul>
                </li>

            </ul>

        </div>
    </div>
</nav>